container_commands:
  01_create_directories:
    command: "mkdir -p /var/app/current/dataset /var/app/current/models"

  02_download_svd_matrix:
    command: "wget -O /var/app/current/dataset/svd_matrix.pkl https://aimodelaws.s3.amazonaws.com/svd_matrix.pkl"
    leader_only: true

  03_download_tfidf_matrix:
    command: "wget -O /var/app/current/dataset/tfidf_matrix.pkl https://aimodelaws.s3.amazonaws.com/tfidf_matrix.pkl"
    leader_only: true

  04_download_reviews_csv:
    command: "wget -O /var/app/current/dataset/Reviews.csv https://aimodelaws.s3.amazonaws.com/Reviews.csv"
    leader_only: true

  05_download_reco_model:
    command: "wget -O /var/app/current/models/reco_model.pth https://aimodelaws.s3.amazonaws.com/reco_model.pth"  
    leader_only: true