Resources:
  AWSEBAutoScalingLaunchConfiguration:
    Properties:
      BlockDeviceMappings:
        - DeviceName: "/dev/xvda"
          Ebs:
            VolumeSize: 50  # Increase this value if needed
            VolumeType: gp2
option_settings:
  aws:autoscaling:launchconfiguration:
    InstanceType: m5.large
  aws:elasticbeanstalk:command:
    Timeout: 300